data/BJTaxi filter=lfs diff=lfs merge=lfs -text
data/NYCBike1 filter=lfs diff=lfs merge=lfs -text
data/NYCBike2 filter=lfs diff=lfs merge=lfs -text
data/NYCTaxi filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
